<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
    <form method="POST" action="{{ url_for('audience_blueprint.submit') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Submit">
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                    <li>{{ messages[-1] }}</li>
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
