<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
    <form method="POST" action="{{ url_for('director_blueprint.update_platform') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="rating_platform_id">Rating Platform ID:</label>
        <input type="text" id="rating_platform_id" name="rating_platform_id" required><br>

        <input type="submit" value="Submit">
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                    <li>{{ messages[-1] }}</li>
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
