<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
    <style>
        body {
            color: #404E67;
            background: #F5F7FA;
            font-family: 'Open Sans', sans-serif;
        }
    </style>
    <script>
        $(".chosen-select").chosen({
            no_results_text: "Oops, nothing found!"
        })
    </script>
</head>
<body>
<form method="POST" action="{{ url_for('movies_blueprint.create_movie') }}">
    <label for="movie_id">Movie ID:</label>
    <input type="text" id="movie_id" name="movie_id" required><br>

    <label for="movie_name">Movie Name:</label>
    <input type="text" id="movie_name" name="movie_name" required><br>

    <label for="duration">Duration:</label>
    <input type="text" id="duration" name="duration" required><br>

    <label for="genre_list">Genre List:</label>
    <select data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" name="genre_list">
        <option value="" selected disabled>Select at least one genre</option>
        {% for genre in genres %}
            <option value={{ genre['genre_id'] }}>{{ genre['genre_name'] }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="messages">
            <li>{{ messages[-1] }}</li>
        </ul>
    {% endif %}
{% endwith %}
</body>
</html>
