<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            color: #404E67;
            background: #F5F7FA;
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body>
<header>
    <h1>Movies Home Page</h1>
</header>

<nav>
    <ul>
        <li><a href="/movies/ratings">View Ratings by Audience</a></li>
        <li><a href="/movies/by_director">View Movies by Director (for Database Manager)</a></li>
        <li><a href="/movies/average_rating">View Average Rating of a Movie</a></li>
        <li><a href="/movies/create_movie">Add a Movie</a></li>
        <li><a href="/movies/create_session">Add a Movie Session</a></li>
        <li><a href="/movies/add_predecessors">Add Predecessors</a></li>
        <li><a href="/movies/movies_by_director">View Movies for Current Director</a></li>
    </ul>
</nav>

{% if error %}
    <p>{{ error }}</p>
{% else %}

{% endif %}

<footer>
    <p>&copy; Designed for CMPE321 Project 3.</p>
</footer>
</body>
</html>
