<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
</head>
<body>
  <header>
    <h1>Movies Home Page</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/movies/ratings">View Ratings by Audience</a></li>
        <li><a href="/movies/by_director">View Movies by Director</a></li>
        <li><a href="/movies/average_rating">View Average Rating of a Movie</a></li>

    </ul>
  </nav>

  {% if error %}
  <p>{{ error }}</p>
{% else %}

{% endif %}

  <footer>
    <p>&copy; Designed for CMPE321 Project 3.</p>
  </footer>
</body>
</html>
